version: 0.1
component: command
timeoutInSeconds: 10000
shell: bash
failImmediatelyOnError: true
inputArtifacts:
- name: langfuse-gateway-manifest
  type: GENERIC_ARTIFACT
  artifactId: ${ARTIFACT_OCID}
  registryId: ${REGISTRY_OCID}
  path: langfuse.Gateway.yaml
  version: 0.1.0
  location: ./langfuse.Gateway.yaml
steps:
  - type: Command
    name: Apply GatewayClass manifest
    timeoutInSeconds: 600
    command: |
      set -euo pipefail
      echo "Applying HTTPRoute manifest..."
      echo "${CLUSTER_OCID}"
      oci ce cluster create-kubeconfig --cluster-id ${CLUSTER_OCID} --file $HOME/.kube/config --token-version 2.0.0  --kube-endpoint PRIVATE_ENDPOINT
      kubectl apply -f ./langfuse.Gateway.yaml -n langfuse
      until kubectl get svc langfuse-gateway-istio -n langfuse -o jsonpath='{.status.loadBalancer.ingress[0].ip}' | grep -q '[0-9]'; do
        echo "Waiting for LoadBalancer external IP..."
        sleep 5
      done
      echo "LoadBalancer external IP is now available."
      sleep 60