Content-Type: multipart/mixed; boundary=MIMEBOUNDARY
MIME-Version: 1.0
 
--MIMEBOUNDARY
Content-Transfer-Encoding: 7bit
Content-Type: text/cloud-config
Mime-Version: 1.0

#cloud-config
 
write_files:
- path: /root/docker_login.sh
  owner: root:root
  permissions: '0755'
  encoding: b64
  content: |
    ${base64_encoded_docker_login_script}
- path: /var/run/docker-credential-helper-init.sh
  owner: root:root
  permissions: '0755'
  encoding: b64
  content: |
    ${base64_encoded_docker_cred_init_helper_script}
- owner: root:root
  path: /etc/cron.d/docker-cred-helper
  content: |
    */20 * * * * root sleep $(( $RANDOM \% 1000 )); /root/docker_login.sh
    @reboot /root/docker_login.sh
 
output: {all: '| tee -a /var/log/cloud-init-output.log'}
 
logcfg: |
  [formatters]
  format=%(levelname)s %(asctime)s: %(message)s
--MIMEBOUNDARY
Content-Transfer-Encoding: 7bit
Content-Type: text/x-shellscript
Mime-Version: 1.0

#!/bin/bash
oke_init_script=$(curl --fail -m 5 -H "Authorization: Bearer Oracle" -L0 http://169.254.169.254/opc/v2/instance/metadata/oke_init_script)
if [ $? -ne 0 ]; then
  oke_init_script=$(curl --fail -m 5 -g -H "Authorization: Bearer Oracle" -L0 http://[fd00:c1::a9fe:a9fe]/opc/v2/instance/metadata/oke_init_script)
fi
echo $oke_init_script | base64 --decode > /var/run/oke-init.sh
touch /var/run/.oke-default-cloud-init

bash /var/run/oke-init.sh

# bash /var/run/docker-credential-helper-init.sh || exit 0
# systemctl restart kubelet

# systemctl daemon-reload
# systemctl enable run_before_shutdown.service
 
--MIMEBOUNDARY--